.main-container {
  padding-top: 50px;
}
.sale {
    border: 2px solid green;
    background:lightgreen;
}
.no-stock {
    border: 2px solid rgb(71, 71, 71);
    background:lightgrey;
}
.portrait-img {
    width:150px;
}
.section-title {
  color:green;
}
